.contacts__inner { 
  background-image: image-set(
    url('./../../images/form-bg.jpg') 1x,
    url('./../../images/form-bg@2x.jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.contacts__form-inner {
  padding: 137px 0;
  min-height: 600px;
  width: 50%;
  background-color: var(--color-bg-accent);
}
.contacts__title {
  color: var(--color-white);
  margin-bottom: 72px;
}
.contacts__form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  color: var(--color-white);
}
.contacts__form-input {
  outline: none;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-white);

  &::placeholder {
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-white);
    opacity: 0.5;
  }
}
.contacts__form-text {
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}
.contacts__form-btn {
  padding: 16px;
  border-radius: 30px;
  width: 240px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-accent);
  background-color: var(--color-white);
  transition: all .3s;

  @media (any-hover: hover) {
    &:hover {
      opacity: .7;
    }
  }

  &:active {
   opacity: .5;
  }
}

@media screen and (max-width: 1200px) {
  .contacts {
    background-color: var(--color-bg-accent);
  }
  .contacts__title {
    margin-bottom: 50px;
  }
  .contacts__inner {
    background-image: none;
  }
  .contacts__form-inner {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .contacts__title {
    font-size: 28px;
  }
  .contacts__form-inner {
    padding-block: 80px;
    min-height: auto;
  }
  .contacts__form {
    width: 100%;
  }
}