.footer {
  color: var(--color-gray);
  background-color: var(--color-dark);
}
.footer__container {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copy {
  font-size: 14px;
  line-height: 1.3;
}
.footer__phone {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .footer__container {
    padding-block: 60px;
    flex-direction: column;
    row-gap: 30px;
  }
  .footer__copy {
    order: 1;
  }
  .footer__phone {
    font-size: 20px;
  }
}