.hero {
  padding: 70px 0 40px;
  background-color: #F5F5F7;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 40px;
}
.hero__img {
  display: block;
  margin-bottom: 25px;
}
.hero__btn {
  display: block;
  border-radius: 30px;
  padding: 22px 22px 19px;
  width: 350px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: background-color .3s ease;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
}

@media screen and (max-width: 576px) {
  .hero {
    padding: 60px 0;
  }
  .hero__title {
    font-size: 48px;
    margin-bottom: 30px;
  }
  .hero__img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 440px) {
  .hero__title {
    font-size: 42px;
  }
  .hero__btn {
    width: 100%;
    font-size: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 370px) {
    .hero__title {
    font-size: 38px;
  }
}