.new {
  padding: 92px 0 150px;
}
.new__inner {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new__descr {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  p {
    font-size: 14px;
    line-height: 130%;
  }
}
.new__descr .new__descr-title {
  font-weight: 700;
  font-size: 20px;
}
.new__img {
  width: 350px;
  height: 370px;
  background-image: image-set(url('./../../images/new-img.png') 1x,
      url('./../../images/new-img@2x.png') 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .new {
    .new__inner {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 768px) {
  .new {
    padding: 60px 0 80px;
  }
}

@media screen and (max-width: 440px) {
  .new {
    padding: 60px 0;
  }
  .new__descr .new__descr-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .new__descr .new__descr-title {
    font-size: 16px;
  }
  .new__img {
    width: 300px;
    height: 330px;
  }
}